.imgPequena{
    width: 150px;
}

.marca-icon{
    width: 35px;
}

.produto{
    background-color: #e0e0eb;
}
.formCarro{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:  #e0e0eb;
}