.imgPequena{
    width: 150px;
}

.imgDestaque{
    border-bottom: solid 1px;
}

.produto{
    background-color: #e0e0eb;
}
.formCarro{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:  #e0e0eb;
}